<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <!-- https://favicon.io/emoji-favicons/money-mouth-face/ -->
        <link href="/static/favicon.png" rel="icon">

        <link href="/static/styles.css" rel="stylesheet">

        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet'>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <title>Sulai.pw: {% block title %}{% endblock %}</title>

    </head>

    <body>

        <nav class="fixed-top navbar navbar-expand-md navbar-light bg-light border" id="thenavbar">
            <a class="navbar-brand ml-3" href="/"><span style="font-family: 'Pacifico'; font-size: 35px; color: dodgerBlue;">sulai.pw</span></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                {% if session.user_id %}
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
                        <li class="nav-item"><a class="nav-link" href="/create">Create</a></li>
                        <li class="nav-item"><a class="nav-link" href="/reserve">Reserve</a></li>
                    </ul>
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                    </ul>
                {% endif %}
            </div>
        </nav>

        <div style="margin: 76px 0px 0px"></div>

        {% if get_flashed_messages() %}
            <header>
                <div class="alert {{type}} border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <main class="container p-3 mt-0">
            {% block main %}{% endblock %}
        </main>

        <div class="fixed-bottom text-light text-center bg-dark py-3">
            © 2020 Copyright <a href="/" class="text-warning">sulai.pw</a>, made for 
            <a href="https://cs50.harvard.edu/x" target="_blank" class="text-warning">CS50x</a> Final Project
        </div>

    </body>

</html>